torch
torchvision
torchaudio
black
sklearn
PyYAML
python-dotenv
segmentation-models-pytorch
setuptools-git-versioning
wget
tensorboard
spacy
opencv-python
opencv-python-headless
pytesseract
typed-argument-parser
